In [1]:
# importing Required Libraries
import numpy as np
import pandas as pd
import ast
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import requests
import re
# pd.set_option('max_colwidth', None)

In [2]:
#loading data
internal_data = pd.read_csv("internal_file_data.csv")

In [3]:
internal_data.head()

,Unnamed: 0,name,Wealth_History,personal_data
0,0,Elon Musk,"[{""percent"":3.8356164383561646,""worth"":""$8.4B""...","Age52Source of WealthTesla, SpaceX, Self MadeS..."
1,1,Bernard Arnault & family,"[{""percent"":15.876777251184834,""worth"":""$33.5B...","Age74Source of WealthLVMHResidenceParis, Franc..."
2,2,Jeff Bezos,"[{""percent"":18.07909604519774,""worth"":""$32B"",""...","Age59Source of WealthAmazon, Self MadeSelf-Mad..."
3,3,Larry Ellison,"[{""percent"":44.85981308411215,""worth"":""$48B"",""...","Age78Source of WealthOracle, Self MadeSelf-Mad..."
4,4,Bill Gates,"[{""percent"":58.91472868217055,""worth"":""$76B"",""...","Age67Source of WealthMicrosoft, Self MadeSelf-..."

In [4]:
internal_data.shape

(2609, 4)

In [5]:
internal_data.isnull().sum()

Unnamed: 0          0
name                3
Wealth_History    223
personal_data       3
dtype: int64

In [6]:
internal_data[internal_data['name'].isnull()]

      Unnamed: 0 name Wealth_History personal_data
1992        1992  NaN            NaN           NaN
2386        2386  NaN            NaN           NaN
2575        2575  NaN            NaN           NaN

## Summary for the Data

This is a Dataset containing information of billionaires from all over the world with more than 2600 rows mentioned on **realtime forbes billinaires list of 2023**. This dataset has three columns, 'Name' of the billionaires, their wealth history of last 6 to 8 years, and their personal information like citizenship, married or something else, and their Education in "personal_data" column.


### Column's Description

- `Name`: Name of the billionaires.

- `Wealth_History`: This column holds the information of billionaires's worth value(in billion dollar) in a particular year. Ex - ([Elon Musk] - (2014, 8.4B),(2015,12B),........

- `personal_data`: This column has many information about billionaires. What and Where did they study?, Where do they live? The company was made by him/her or inherited. Etc..

#### As this data is too messey and dirty, Further I will be doing data cleaning.

#### Issues With the Dataset

- `Unnamed: 0` - This column is of no use.

- `Name` - In name column, some rows contains **& family** with their name in last and some nan values are also there. - `Dirty Data`

- `Wealth_History` - This column contains wealth value of particular year between 2011 to 2023 in the form of dictionary and some nan values are also there. - `Messy Data` 

- `personal_data` - This column has many information, like Education, Citizenship etc, all in one column. - `Messy Data`

## Data Cleaning - Part 1

- Remove **Unnamed: 0** column
- Remove **& family** from name column, 3 values are nan in name column and also there are nan in corresponding column, So drop nan values.
- Extract wealth value with corresponding year value in tuple from wealth_history column. Do not drop nan values.
- Personal_data column has many information, Extract **Citizenship, Marital Status, Education** and create is coulumn **Empire** that will tell, Business was self made or something else.
- Some of the billionaires educations are multiple, Extract first Education and its College/Univrsity.

### Remove Unnamed: 0 column

In [7]:
internal_data.drop(columns = 'Unnamed: 0', inplace=True)

### Remove & family from name column, 3 values are nan in name column and also there are nan in corresponding column, So drop nan values.

In [8]:
internal_data[internal_data['name'].str.contains('& family', na=False)]

,name,Wealth_History,personal_data
1,Bernard Arnault & family,"[{""percent"":15.876777251184834,""worth"":""$33.5B...","Age74Source of WealthLVMHResidenceParis, Franc..."
8,Carlos Slim Helu & family,"[{""percent"":77.41935483870968,""worth"":""$72B"",""...","Age83Source of WealthTelecom, Self MadeResiden..."
14,Francoise Bettencourt Meyers & family,"[{""percent"":52.422360248447205,""worth"":""$42.2B...","Age70Source of WealthL'OréalResidenceParis, Fr..."
21,Julia Koch & family,"[{""percent"":63.66666666666667,""worth"":""$38.2B""...",Age61Source of WealthKoch IndustriesSelf-Made ...
22,David Thomson & family,"[{""percent"":41.544117647058826,""worth"":""$22.6B...","Age66Source of WealthMediaResidenceToronto, Ca..."
...,...,...,...
2553,Pu Zhongjie & family,"[{""percent"":77.77777777777779,""worth"":""$1.4B"",...","Age60Source of WealthMedical equipment, Self M..."
2570,David Tran & family,NaN,"Age77Source of WealthHot sauce, Self MadeResid..."
2573,Kangbao Ke & family,"[{""percent"":100,""worth"":""$1.9B"",""name"":""Billio...","Age60Source of WealthRetailing, Self MadeResid..."
2589,Petter Stordalen & family,"[{""percent"":77.77777777777779,""worth"":""$1.4B"",...","Age60Source of WealthHotels, Self MadeResidenc..."
2591,Wen Pengcheng & family,"[{""percent"":100,""worth"":""$1.6B"",""name"":""Billio...","Age60Source of WealthAgribusiness, Self MadeRe..."

In [9]:
internal_data['name'] = internal_data['name'].str.replace('& family','').str.strip()

In [10]:
internal_data[internal_data['name'].isnull()]
# Will drop three based on index value

     name Wealth_History personal_data
1992  NaN            NaN           NaN
2386  NaN            NaN           NaN
2575  NaN            NaN           NaN

In [11]:
internal_data.drop([1992, 2386, 2575], inplace=True)

In [12]:
internal_data

,name,Wealth_History,personal_data
0,Elon Musk,"[{""percent"":3.8356164383561646,""worth"":""$8.4B""...","Age52Source of WealthTesla, SpaceX, Self MadeS..."
1,Bernard Arnault,"[{""percent"":15.876777251184834,""worth"":""$33.5B...","Age74Source of WealthLVMHResidenceParis, Franc..."
2,Jeff Bezos,"[{""percent"":18.07909604519774,""worth"":""$32B"",""...","Age59Source of WealthAmazon, Self MadeSelf-Mad..."
3,Larry Ellison,"[{""percent"":44.85981308411215,""worth"":""$48B"",""...","Age78Source of WealthOracle, Self MadeSelf-Mad..."
4,Bill Gates,"[{""percent"":58.91472868217055,""worth"":""$76B"",""...","Age67Source of WealthMicrosoft, Self MadeSelf-..."
...,...,...,...
2604,Chang Jing,"[{""percent"":100,""worth"":""$2.5B"",""name"":""Billio...","Age40Source of WealthTechnology, Self MadeResi..."
2605,Vijay Shekhar Sharma,"[{""percent"":50,""worth"":""$1.3B"",""name"":""Billion...","Age45Source of Wealthfinancial technology, Sel..."
2606,Kanye West,"[{""percent"":90,""worth"":""$1.8B"",""name"":""Billion...","Age46Source of Wealthmusic, sneakers, Self Mad..."
2607,Sam Bankman-Fried,"[{""percent"":36.25,""worth"":""$8.7B"",""name"":""Bill...","Age31Source of Wealthcryptocurrency exchange, ..."
2608,Elizabeth Holmes,"[{""percent"":100,""worth"":""$4.5B"",""name"":""Billio...","Age39Source of Wealthblood testing, Self MadeS..."

### Extract wealth value with corresponding year value in tuple from wealth_history column.

In [13]:
# Removing [ , ] brackets so that I could get dictionaries inside it.
internal_data['Wealth_History'] = internal_data['Wealth_History'].str.replace("[",'').str.replace("]",'')

In [14]:
internal_data['Wealth_History']

0       {"percent":3.8356164383561646,"worth":"$8.4B",...
1       {"percent":15.876777251184834,"worth":"$33.5B"...
2       {"percent":18.07909604519774,"worth":"$32B","n...
3       {"percent":44.85981308411215,"worth":"$48B","n...
4       {"percent":58.91472868217055,"worth":"$76B","n...
                              ...
2604    {"percent":100,"worth":"$2.5B","name":"Billion...
2605    {"percent":50,"worth":"$1.3B","name":"Billiona...
2606    {"percent":90,"worth":"$1.8B","name":"Billiona...
2607    {"percent":36.25,"worth":"$8.7B","name":"Billi...
2608    {"percent":100,"worth":"$4.5B","name":"Billion...
Name: Wealth_History, Length: 2606, dtype: object

In [15]:
# Extracting wealth value with corresponding year in tuple.
wealth = []
for i in internal_data['Wealth_History']:
    individuaal_wealth = []
    if pd.isna(i):
        wealth.append(np.nan)
    else:
        x = ast.literal_eval(i)
        for j in x:
            worth = j['worth'].replace('$','')
            date = j['date'].split(' ')[1]
            value = (date, worth)
            individuaal_wealth.append(value)
        wealth.append(individuaal_wealth)

In [16]:
internal_data['Wealth_History'] = wealth

### Extract Citizenship from personal_data column.

In [17]:
internal_data['Citizenship'] = internal_data['personal_data'].str.split('Citizenship').str.get(1).str.split('Marital').str.get(0)
internal_data['Citizenship'] = internal_data['Citizenship'].str.split('Education').str.get(0)
internal_data['Citizenship'] = internal_data['Citizenship'].str.split('Child').str.get(0)

### Extract Marital Status from personal_data column.

In [18]:
internal_data['Marital Status'] = internal_data['personal_data'].str.split('Marital Status').str.get(1).str.split('Children').str.get(0)
internal_data['Marital Status'] = internal_data['Marital Status'].str.split('Education').str.get(0)

### Extract First Education from personal_data column.

In [19]:
internal_data['Education'] = internal_data['personal_data'].str.split('Education').str.get(1).str.split(',').str.get(0)

### Extract First College/University from personal_data column.

In [20]:
internal_data['College/University'] = internal_data['personal_data'].str.split('Education').str.get(1).str.split(';').str.get(0)

In [21]:
internal_data['College/University'] = internal_data['College/University'].str.split(',').str.get(-1).str.strip()

### Extract 'Self-made' value from personal_data column.

In [37]:
Empire = internal_data['personal_data'].str.split('Residence').str.get(0)

In [39]:
empire = []
for i in Empire:
    if 'Self Made' in i:
        empire.append("Self Made")
    else:
        empire.append(np.nan)

In [40]:
internal_data['Empire'] = empire

##### Now I have extracted all the required information from **Wealth History** and **Personal Data** Column. But There are still many issues in new extracted column. 
In this Data Cleaning - Part 2, I will be cleaning messy and dirty data from these columns.

### Isuues with this Dataset.

- Column `Wealth_History`, `Citizenship`, `Education`, `College/University` have some messy or dirty data.

## Data Cleaning - Part 2

- `CitizenShip Column`
    1. Index **[685]** has **United StatesAgentDavid FalkAgencyFAME** --- Replace with **United States**
    
    2. Index **[2512]** has **United StatesAgentMark SteinbergAgencyExcel Sports ManagementSponsors2K Sports, Autograph, Bridgestone, Full Swing, Kowa Company Ltd., Monster Energy, Rolex, TaylorMade, Upper Deck** --- Replace with **United States**


- `Education Column`   
    1. Index **[1904]** has **Xiamen University** --- Replace with **NaN**.
    2. Index **[976]** has **Empty** --- Replace with **NaN**.
    3. Index **[1858]** has **Empty** --- Replace with **Bachelor of Arts/Science**.
    4. Index **[2044]** has **Empty** --- Replace with **EMBA**.
    5. Index **[2144]** has **Empty** --- Replace with **NaN**.
    6. Index **[2501]** has **Empty** --- Replace with **NaN**.
    7. Index **[361]** has **Houston Community College** --- Replace with **NaN**.
    8. Index **[744]** has **Chinese Academy of Social Sciences; Bachelor of Arts/Science** --- Replace with **Bachelor of Arts/Science**.
    9. Index **[764]** has **Chinese Culture University** --- Replace with **NaN**.
    10. Index **[1030]** has **China Europe International Business School** --- Replace with **NaN**.
    11. Index **[1919]** has **London School of Economics; Master** --- Replace with **NaN**.
    12. Index **[2332]** has **University of Pennsylvania** --- Replace with **NaN**.
    13. Index **[2338]** has **Waseda University** --- Replace with **NaN**.
    14. Index **[1470]** has **Harvard Business School; Bachelor of Arts/Science** --- Replace with **NaN**.
    15. Index **[2160]** has **Oregon State University; Walla Walla College** --- Replace with **NaN**.
    16. Index **[339]** has **National Taipei University of Technology** --- Replace with **NaN**.
    17. Index **[2351]** has **University of California** --- Replace with **NaN**.
    18. Index **[279]** has **State Central Institute of Physical Culture** --- Replace with **NaN**.
    19. Index **[275]** has **Liaoning University** --- Replace with **NaN**.
    20. Index **[1224]** has **Fordham University; Bachelor of Arts/Science** --- Replace with **NaN**.
    21. Index **[1403]** has **City University of New York Baruch** --- Replace with **NaN**.
    22. Index **[1957]** has **Chinese University of Hong Kong** --- Replace with **NaN**.
    23. Index **[994]** has **ResidenceDubai** --- Replace with **NaN**.
    24. Index **[333]** has **Taipei University of Marine Technology** --- Replace with **NaN**.
    25. Index **[1126]** has **ResidenceBangalore** --- Replace with **NaN**.
    26. Index **[1855]** has **ResidencePhoenix** --- Replace with **Bachelor of Arts/Science**.
    27. Index **[1596]** has **Jiangsu Province Wujin Teacher School** --- Replace with **NaN**.
    28. Index **[1581]** has **Wharton School at the University of Pennsylvania** --- Replace with **NaN**.
    29. Index **[1617]** has **National Taitung University** --- Replace with **NaN**.
    30. Index **[2211]** has **Sweet Briar College** --- Replace with **NaN**.
    31. Index **[2212]** has **The University of North Carolina at Chapel Hill** --- Replace with **NaN**.
    32. Index **[2512]** has **Stanford University** --- Replace with **NaN**
    
    
    
- `College/University Column` 

    1. Index **[1215]** has **India** --- Replace with **Anna University**.
    2. Index **[189, 235, 661, 708, 711, 754, 1348, 2351, 58, 443, 662, 1697, 2174, 2293, 2325, 2342, 2601, 2028]** has **Los Angeles or Barkeley** --- Replace with **University of California**.
    3. Index **[1576]** has **Davis** --- Replace with **University of California**.
    4. Index **[193]** has **Austin** --- Replace with **University of Texas**.
    5. Index **[2032]** has **Kazan** --- Replace with **Moscow Power Engineering Institute**.
    6. Index **[91]** has **Eau Claire** --- Replace with **University of Wisconsin**.
    7. Index **[1133, 1170, 1372]** has **Ahmedabad** --- Replace with **Indian Institute of Management**.
    8. Index **[613]** has **Moscow)** --- Replace with **State Institute of Theatre Arts**.
    9. Index **[1368]** has **Electronics and Automation** --- Replace with **Moscow Institute of Radioengineering**.
    10. Index **[1798]** has **Madison** --- Replace with **University of Wisconsin**.
    11. Index **[1805]** has **marketing/management** --- Replace with **Stockholm University**.
    12. Index **[266]** has **Prague** --- Replace with **Czech Technical University**.
    13. Index **[1529]** has **Chapel Hill** --- Replace with **University of North Carolina**.
    14. Index **[170]** has **San Diego** --- Replace with **University of California**.
    15. Index **[234]** has **BHU** --- Replace with **Indian Institute of Technology**.
    16. Index **[1620]** has **Germany** --- Replace with **Rheinisch-Westfälische Technische Hochschule**.
    17. Index **[1693]** has **The Netherlands** --- Replace with **Erasmus University Rotterdam**.
    18. Index **[1960]** has **Bombay** --- Replace with **Indian Institute of Technology**.
    19. Index **[2052]** has **Jerusalem** --- Replace with **Hebrew University**.
    20. Index **[1132, 1139]** has **Lebanon** --- Replace with **American University of Beirut**.
    21. Index **[130]** has **Ceibs** --- Replace with **NaN**
    22. Index **[357]** has **London** --- Replace with **Sir John Cass College**
    23. Index **[389]** has **Sydney** --- Replace with **University of Technology**
    24. Index **[479]** has **Cambridge** --- Replace with **University College London**
    25. Index **[976, 994, 1126, 1855, 1858, 2144, 2501]** has **Wrong Value** --- Replace with **NaN**
    26. Index **[2044]** has **Wrong Value** --- Replace with **Europe International Business School**
    27. Index **[2143]** has **India** --- Replace with **Indian Institute of Technology (IIT) Kharagpur**

Some values are dirty(should not be there) those dirty data are mentioned above. Along with that Some of the Colleges/Universities name are not written in English Language rather they are written in their native lanuguage. So I am leaving those names as it is.
   
   
- `Wealth_History Column`   

Create Seperate Column by Year name that will have the worth value if available in wealth history column else NaN


#### Drop Wealth_History and Personal_data column.

- After Creating seperate column from 2014 to 2023, all worth values are in billions, but index **[2563]'s** **2015**, and **2016** values are in million. So, convert it billion. Then **Replace 'B',''** and covert astype to **float**

### Cleaning Citizenship Column

In [43]:
internal_data['Citizenship'].unique()

array(['United States', 'France', 'Mexico', 'India', 'Spain', 'China',
       'Canada', 'Germany', 'Austria', 'Italy', 'Hong Kong', 'Japan',
       'Switzerland', 'Australia', 'Indonesia', 'Russia', 'Chile',
       'United Kingdom', 'Israel', 'Sweden', 'Brazil', 'Czech Republic',
       'Singapore', 'Thailand', 'Netherlands', 'Cyprus', 'South Africa',
       'United Arab Emirates', 'Malaysia', 'Nigeria', 'Philippines',
       'South Korea', 'New Zealand', 'Taiwan', 'Belgium', 'Monaco',
       'Colombia', 'Norway', 'Ireland', 'Denmark', 'Egypt', 'Poland',
       'Eswatini (Swaziland)', 'Ukraine', 'Greece', 'Georgia', 'Turkey',
       'Portugal', 'Argentina', 'Kazakhstan', 'Algeria', 'Venezuela',
       'United StatesAgentDavid FalkAgencyFAME', 'Finland', 'Vietnam',
       'Belize', 'Lebanon', 'Iceland', 'Guernsey', 'Liechtenstein',
       'Bulgaria', 'Oman', 'Romania', 'Zimbabwe', 'Nepal', 'Qatar',
       'Slovakia', 'Morocco', 'Hungary', 'Peru', 'Estonia', 'Tanzania',
       'Barbados', 'St. Kitts and Nevis', 'Armenia', 'Macau',
       'United StatesAgentMark SteinbergAgencyExcel Sports ManagementSponsors2K Sports, Autograph, Bridgestone, Full Swing, Kowa Company Ltd., Monster Energy, Rolex, TaylorMade, Upper Deck',
       'Panama', 'Bangladesh'], dtype=object)

In [44]:
internal_data.loc[[685,2512], 'Citizenship'] = 'United States'

In [45]:
internal_data['Citizenship'].unique()

array(['United States', 'France', 'Mexico', 'India', 'Spain', 'China',
       'Canada', 'Germany', 'Austria', 'Italy', 'Hong Kong', 'Japan',
       'Switzerland', 'Australia', 'Indonesia', 'Russia', 'Chile',
       'United Kingdom', 'Israel', 'Sweden', 'Brazil', 'Czech Republic',
       'Singapore', 'Thailand', 'Netherlands', 'Cyprus', 'South Africa',
       'United Arab Emirates', 'Malaysia', 'Nigeria', 'Philippines',
       'South Korea', 'New Zealand', 'Taiwan', 'Belgium', 'Monaco',
       'Colombia', 'Norway', 'Ireland', 'Denmark', 'Egypt', 'Poland',
       'Eswatini (Swaziland)', 'Ukraine', 'Greece', 'Georgia', 'Turkey',
       'Portugal', 'Argentina', 'Kazakhstan', 'Algeria', 'Venezuela',
       'Finland', 'Vietnam', 'Belize', 'Lebanon', 'Iceland', 'Guernsey',
       'Liechtenstein', 'Bulgaria', 'Oman', 'Romania', 'Zimbabwe',
       'Nepal', 'Qatar', 'Slovakia', 'Morocco', 'Hungary', 'Peru',
       'Estonia', 'Tanzania', 'Barbados', 'St. Kitts and Nevis',
       'Armenia', 'Macau', 'Panama', 'Bangladesh'], dtype=object)

### Cleaning Education Column

In [46]:
internal_data['Education'].unique()

array(['Bachelor of Arts/Science', 'Drop Out', 'Master of Science',
       'Master of Business Administration', nan,
       'Doctor of Jurisprudence', 'Master of Arts',
       'Bachelor of Engineering', 'Diploma',
       'Bachelor of Science in Engineering', 'Bachelor of Science',
       'Doctorate', 'Associate in Arts/Science', 'Master',
       'Masters in Finance', 'Master of Science in Engineering',
       'Bachelor of Technology', 'EMBA', 'Master of Laws', 'Ph.D',
       'Master of Economics', 'High School Graduate',
       'Bachelor of Arts/Economics', 'Medical Doctor', 'LLB',
       'Law Degree', 'Graduate', 'Registered Nurse',
       'Liaoning University',
       'State Central Institute of Physical Culture',
       'Master of Arts/Science', 'Taipei University of Marine Technology',
       'National Taipei University of Technology',
       'Houston Community College', 'Bachelor of Business Administration',
       'Bachelor of Commerce', 'Masters of Public Health',
       'Doctorate in Pedagogical Sciences', 'LLM',
       'Bachelor of Social Sciences', 'Master of Philosophy',
       'Chinese Academy of Social Sciences; Bachelor of Arts/Science',
       'Chinese Culture University', 'Master of Engineering Management',
       'B.Com', '', 'ResidenceDubai',
       'China Europe International Business School', 'ResidenceBangalore',
       'Fordham University; Bachelor of Arts/Science',
       'City University of New York Baruch',
       'Harvard Business School; Bachelor of Arts/Science',
       'The Wharton School at the University of Pennsylvania',
       'Jiangsu Province Wujin Teacher School',
       'National Taitung University', 'Bachelor of Law',
       'Chartered Accountant', 'Bachelor of Arts', 'ResidencePhoenix',
       'Xiamen University', 'Masters in Computer Engineering',
       'London School of Economics; Master',
       'Chinese University of Hong Kong',
       'Oregon State University; Walla Walla College',
       'Sweet Briar College',
       'The University of North Carolina at Chapel Hill',
       'University of Pennsylvania', 'Waseda University',
       'University of California', 'Stanford University',
       'Masters of Public Administration'], dtype=object)

In [47]:
internal_data.loc[[1904, 976, 2144, 2501, 361, 764, 1030, 1919, 2332, 2338, 1470, 2160, 339, 2351, 279, 275, 1224, 1403, 1957, 994, 333, 1126, 1596, 1581, 1617, 2211, 2212, 2512], 
'Education'] = np.nan

In [48]:
internal_data.loc[[1858, 744, 1855], 'Education'] = ' Bachelor of Arts/Science'

In [49]:
internal_data.loc[2044, 'Education'] = 'EMBA'

In [50]:
internal_data['Education'].unique()

array(['Bachelor of Arts/Science', 'Drop Out', 'Master of Science',
       'Master of Business Administration', nan,
       'Doctor of Jurisprudence', 'Master of Arts',
       'Bachelor of Engineering', 'Diploma',
       'Bachelor of Science in Engineering', 'Bachelor of Science',
       'Doctorate', 'Associate in Arts/Science', 'Master',
       'Masters in Finance', 'Master of Science in Engineering',
       'Bachelor of Technology', 'EMBA', 'Master of Laws', 'Ph.D',
       'Master of Economics', 'High School Graduate',
       'Bachelor of Arts/Economics', 'Medical Doctor', 'LLB',
       'Law Degree', 'Graduate', 'Registered Nurse',
       'Master of Arts/Science', 'Bachelor of Business Administration',
       'Bachelor of Commerce', 'Masters of Public Health',
       'Doctorate in Pedagogical Sciences', 'LLM',
       'Bachelor of Social Sciences', 'Master of Philosophy',
       ' Bachelor of Arts/Science', 'Master of Engineering Management',
       'B.Com', 'Bachelor of Law', 'Chartered Accountant',
       'Bachelor of Arts', 'Masters in Computer Engineering',
       'Masters of Public Administration'], dtype=object)

### Cleaning College/University Column

In [51]:
internal_data['College/University'].unique()

array(['University of Pennsylvania', 'Ecole Polytechnique de Paris',
       'Princeton University', 'University of Chicago',
       'Harvard University', 'Columbia University',
       'Universidad Nacional Autonoma de Mexico', 'Stanford University',
       'Harvard Business School', nan, 'University of Arkansas',
       'Trinity University', 'The University of Texas at Austin',
       'Massachusetts Institute of Technology',
       'University of Central Arkansas', 'University of Cambridge',
       'Nankai University', 'Stanford Graduate School of Business',
       'Bryn Mawr College', 'The Hotchkiss School',
       'Oregon State University', 'High School', 'Waseda University',
       'Hebrew University Jerusalem', 'Shenzhen University',
       'Chinese Academy of Social Sciences',
       'University of Electronic Science and Technology of China',
       'SUNY Binghamton', 'Pune University', 'New York University',
       'Technical University of Karlsruhe', 'Berkeley',
       'PSG College of Technology',
       'International Institute for Management and Development',
       'University of Wisconsin Madison',
       'Plekhanov Russian University of Economics',
       "Hangzhou Teacher's Institute",
       'Moscow Institute of International Relations',
       'Vanderbilt University', 'Colorado College',
       'Russian Academy of Economics',
       'Kuybyshev Engineering and Construction Institute',
       'Leningrad Institute of Economics',
       'Azerbaijan Institute of Oil and Chemistry',
       'Michigan State University',
       'Beijing Non-Ferrous Research Institute',
       'University of Western Australia', 'University of Stockholm',
       'Leningrad Mechanical Institute', 'Eau Claire',
       'David A. Tepper School of Business', 'Yanshan University',
       'The Wharton School', 'University of Washington',
       'Calcutta University', 'Oxford University',
       "St Xavier's College Calcutta", 'London School of Economics',
       'University of Leeds',
       'University of Science and Technology of China',
       'Columbia Business School', 'London Business School',
       'Hefei University of Technology', 'Rijnlands Lyceum Wassenaar',
       'Finance Academy under the Government of the Russian Federation',
       'San Jose State University', 'A. B. Freeman School of Business',
       'University of Mumbai', 'Ceibs', 'Sr. College of Business',
       'Moscow Institute of Steel and Alloys', 'Hebei Province',
       'Cornell University', 'University of Piacenza', 'Urbana-Champaign',
       'Delhi University', 'Saint Petersburg State University',
       'University of New South Wales', 'Villanova University',
       'Moscow Aviation University', 'Moscow Institute of Finance',
       'Raffles College', 'Syracuse University',
       'Georgia Southern University', 'Samford University',
       'Chulalongkorn University', 'University of Kansas',
       'China Pharmaceutical University', 'Hunan University',
       'Monash University', 'San Diego', 'Purdue University',
       'Qingdao University', 'Dagestan State University',
       'Al-Azhar University', 'University at Buffalo',
       'University of Augsburg', 'Rhode Island School of Design',
       'Universite Paris X Nanterre', 'University of British Columbia',
       'Magnitogorsk Mining\xa0and Metallurgical Institute',
       'Gothenburg University', "St. John's University (MN)",
       'Peking University', 'Universidade Federal do Rio de Janeiro',
       'Los Angeles', 'Huazhong University of Science and Technology',
       'Middle Temple', 'Austin', 'Concordia University',
       'Dartmouth College', 'Duke University', 'Vassar College',
       'Saint Petersburg Mining University', 'Sichuan University',
       'Babson College', 'Masaryk University', 'Wuhan University',
       'North Carolina State University', 'Carnegie Mellon University',
       'Johns Hopkins University', 'University of Karlsruhe',
       'Tsinghua University', 'Northwestern University',
       'Moscow State Law Academy', 'Lincoln University',
       'Guilin Medical University', 'University of Hamburg',
       'California State Polytechnical University', 'Keio University',
       'Baylor University', 'State University of Management', 'BHU',
       'Ecole Superieure Libre Des Sciences Commerciales Appliquees',
       'Marshall School of Business', 'University of Memphis',
       'Sciences Po', 'Claremont McKenna College', 'Rutgers University',
       'Tufts University', 'Williams College',
       'Northwestern Polytechnical University', 'University of Denver',
       'Texas Tech University', 'Drury University',
       'Oxford U Christ Church', 'National Taiwan University',
       'Hahnemann Medical College', 'University of Akron', 'Prague',
       'University of Southern California', 'Liaoning University',
       'Military Academy F.E.Dzerzhinsky',
       'State Central Institute of Physical Culture',
       'Colgate University', 'Renmin University of China',
       'Hebei Broadcast and Television University', 'Brown University',
       'Yale University', 'Politecnico di Milano',
       'University of Ferrara', 'Kings College London',
       'Leonard N. Stern School of Business', 'University of Virginia',
       'University of Northern Colorado', 'Nanjing Normal University',
       'City University of New York City College', 'Dickinson College',
       'American University', 'Technische Universität Darmstadt',
       'Tatung University', 'University of Missouri',
       'Tashkent State University', 'Central South University',
       'Taipei University of Marine Technology',
       'National Taipei University of Technology',
       'Jiangsu Normal University', 'Cambridge University',
       'Vologda State Pedagogical University', 'University of Miami',
       'Wofford College', 'University of Maryland',
       'National University of Colombia', 'Rice University', 'London',
       'University of Houston', 'Houston Community College',
       'Aarhus Business School',
       'Moscow State University of Railway Engineering',
       'Moscow State University', 'Northeastern University',
       'Pennsylvania State University', 'University of West Bohemia',
       'Sydney', 'Humboldt State University', 'Grenoble University',
       'China Europe International Business School', 'Xiamen University',
       'Santa Clara University', 'Bucknell University',
       'Fudan University', 'University of Tennessee Chattanooga',
       'University of Witwatersrand', 'Bowdoin College',
       'Salisbury State University', 'Perm Medical Institute',
       'Southern Methodist University', 'Auburn University',
       'Instituto Tecnológico Autónomo de México',
       'University of Gothenburg', "People's University of China",
       'Ohio State University', 'Central Missouri State University',
       'Moscow Institute of Physics and Technology', 'Kalamazoo College',
       'Gujarat University', 'South China University of Technology',
       'Free University of Amsterdam', 'Donetsk National University',
       'Georgetown University', 'University of Florence',
       'University of Milan', 'University of Calgary',
       'Seoul National University', 'Cambridge', 'Sarah Lawrence college',
       'Finch College', 'Bard College', 'INSEAD',
       'Miami University of Ohio', 'Konkuk University',
       'College of William & Mary', 'Pepperdine University',
       'Creighton University', 'Golden Gate University',
       'National Cheng Kung University', 'Franklin Pierce University',
       'Stockholm School of Economics', 'SUNY Tech Alfred',
       'Fanshawe College', 'Simon School of Business',
       'Heidelberg University', 'Sogang University', 'Indiana University',
       'University of Texas at Austin',
       'Nanjing University of Aeronautics & Astronautics',
       'Novosibirsk State University', 'University of Indonesia',
       'Bocconi University', 'St Gallen University', 'Columbia College',
       'University of Waterloo', 'Connecticut College',
       'University of Texas Arlington', 'Indian Institute of Technology',
       'Bogazici University', 'MIT Sloan School of Management',
       'Technical College in Flensburg', 'Amherst College',
       'The Wharton School of the University of Pennsylvania',
       'Xihua University', 'University of Arizona',
       'University of Tennessee Knoxville', 'College of the Holy Cross',
       'College Park', 'Middlebury College', 'Brevard Community College',
       'Beloit College', 'San Diego State University',
       'Zhejiang University', 'Punjab University', 'Moscow)',
       'Fordham University', 'Miami Dade College', 'Brandeis University',
       'Goucher College', 'University of Alberta',
       'Georgia Institute of Technology', 'Hanyang University',
       'John Carroll University', 'Ural Polytechnic Institute',
       'Moscow Institute for Transport Engineering',
       'Hong Kong University of Science and Technology',
       'Fundacao Getulio Vargas', 'Chinese Culture University',
       'Savannah College of Art and Design',
       'Phoenix International University', 'University of Michigan',
       'Beijing University of Aeronautics and Astronautics',
       'Washington & Lee University', 'Boston University',
       'University of Utah', 'SUNY Buffalo', 'Zhejiang Shuren University',
       'Jilin University', 'Drexel University',
       'Ludwig Maxmilian University', 'California State Los Angeles',
       'Nanjing University', 'California State Long Beach',
       'Stockholm University', 'Yerevan Polytechnic Institute',
       'Ecole Centrale Paris', 'Baku Institute of Law',
       'Huadong Normal University',
       'University of Economics in Bratislava (UEB)',
       'Henan Normal University',
       'Catholic University of the Sacred Heart', 'Bocconi Univerisity',
       'Montana State University', 'Universidad Iberoamericana',
       'Nihon University', 'Kansai University',
       'University of Santa Clara', 'University of Oklahoma',
       'Letourneau College', 'Brooklyn Law School',
       'St. Louis University', 'Northern Michigan University',
       'Lehigh University', 'Yonsei University',
       'Università Cà Foscari di Venezia', 'Shanghai Jiaotong University',
       'Pace University', 'Harvard', 'University of New Orleans',
       'Imperial College London', 'Toho Gakuen tanki University',
       'Moscow State Technical University', 'York University',
       'Kazakh Technological Institute', 'Brooklyn College',
       'City College of New York',
       'Leningrad Institute of Physical Culture', 'IMD',
       'Queens University', 'University of Baltimore',
       'Long Island University',
       'China University of Mining and Technology',
       'Far Eastern University', 'Korea University',
       'East Carolina University',
       'Jiangxi University of Finance & Economics',
       'Wichita State University', 'Hebei Medical University',
       'Asia Macau International Open University',
       'Swiss Federal Polytechnical Institute',
       'Parsons School of Design', 'Loyola University Chicago',
       'Oklahoma State University', 'Ekaterinburg Institute of Economics',
       'Zhongnan University of Economics and Law',
       'University of Massachusetts', 'Kuban State University',
       'Brigham Young University', 'University of London',
       'Wake Forest University School of Business',
       'Pepperdine Caruso School of Law', 'Shanghai Jiao Tong University',
       'Tennessee Technological University',
       'Bandung Institute of Technology',
       'Togliatti Academy of Management', 'Notre Dame University',
       'University of Florida',
       'SwitzerlandCitizenshipSwedenMarital StatusMarriedChildren4',
       'New York Law School', 'Ural State Technical University',
       'Universidad Comercial de Deusto',
       'The University of Western Ontario - Richard Ivey School of Business',
       'United Arab EmiratesCitizenshipIndiaMarital StatusMarriedChildren2',
       'University of Munich', 'Reed College', 'Temple University',
       'Illinois Institute of Technology', 'University of Glasgow',
       'The National Research University Higher School of Economics',
       'University of North Carolina at Greensboro', 'Laval University',
       'University of Manitoba', 'Catholic University of America',
       'Northeast Agriculture University', 'Wuhan U of  Science & Tec',
       'Ecole centrale de Paris', 'University of Liverpool',
       'University of Nevada at Reno', 'IESE Business School',
       'George Washington University', 'Hamilton College',
       'SUNY Stony Brook', 'University of Western Ontario',
       'Carroll School of Management', "Xi'an Jiaotong University",
       'IndiaCitizenshipIndiaMarital StatusMarriedChildren2',
       'Shaoxing University', 'Minnesota State University', 'Lebanon',
       'Ahmedabad', 'West Virginia University',
       'San Francisco State University', 'University of Central Oklahoma',
       'Adelphi University', 'Beijing Institute of Technology',
       'Kellogg School of Management',
       "LeTourneau University's School of Business",
       'SDA Bocconi School of Management', 'University of Colorado',
       'Russian State Academy of Management', 'Lake Forest College',
       'India', 'University of North Carolina',
       'University of Saskatchewan', 'Boston College',
       'St Petersburg State University', 'University of St. Gallen',
       'Western Michigan University', 'Tennessee State University',
       'University of Scranton', 'Sun Yat-sen University',
       'Carnegie Mellon', 'De La Salle University', 'McGill University',
       'Menlo College', 'Emory University',
       'Huazhong Agricultural University', 'University of the East',
       'Joseph M. Katz Graduate School of Business', 'Lund University',
       'Bangalore University', 'University of Madras',
       'Harbin Engineering University',
       'Lawrence Technological University', 'Marquette University',
       'University of Rhode Island',
       'Istituto Superiore di Industrie Artistiche',
       'University of Zurich', 'Ohio Northern University',
       'Guangdong Medical College', 'Electronics and Automation',
       'University of Southern Mississippi', 'University of Saarland',
       'University of Toronto',
       'Polytechnic School of the University of Sao Paulo',
       'Irkutsk State University', 'Seton Hall University',
       'City University of New York Baruch', 'Assumption College',
       'Chapman University',
       'Indian Institute of Technology Madras (IIT Madras)',
       'San Francisco Conservatory of Music',
       'Embry-Riddle Aeronautical University',
       'Shanghai University of Finance and Economics', 'Clark University',
       'Telecommunications and Computer Science (FSB Academy)',
       'Moscow State Mining University',
       'Moscow Institute of Electronic Technology',
       'Manhattanville College', 'Leningrad Technological Institute',
       'Turkmen State University',
       'Dniepropetrovsk Metallurgical Institute',
       'Trinity University of San Antonio', 'University of St Gallen',
       'University of Oregon', 'Eastern Kentucky University',
       'California State University Northridge', 'University of Malaya',
       'University of Detroit Mercy', 'Nottingham University',
       'University of Minnesota', 'University of Poznan',
       'University of Notre Dame', 'St. John Fisher College',
       'Fu Jen Catholic University', 'Chapel Hill',
       'Loyola University Illinois', 'Ashland University',
       'Southern Oregon University', 'University of Bucharest',
       'Maryknoll College', 'Davis', 'University of South Australia',
       'The Wharton School at the University of Pennsylvania',
       'Birla Institute of Technology and Science (BITS) - Pilani',
       'Fuqua School of Business',
       'Jiangsu Province Wujin Teacher School', 'California State Chico',
       'Pontificia Universidad de Chile', 'Haverford College',
       'National Taitung University', 'The University of Chicago',
       'Germany', 'The College of William & Mary',
       'Ibero-American University', 'Skidmore College', 'SUNY Albany',
       'University of Erlangen', 'Long Beach', 'University of Paris',
       'Rider University', 'Rochester Institute of Technology',
       'University of Melbourne', 'University of Wales',
       'University of Rochester', 'National Central University',
       'Stanford', 'University of Ottawa',
       'University of Nebraska Lincoln', 'Florida Southern College',
       'Macau University', 'The Netherlands', 'Texas A&M University',
       'Politecnico di Torino', 'Mendeleyev Chemical Engin', 'IIT Delhi',
       'University of Texas', 'California Institute of Technology',
       'Leningrad Institute of Railway Engineers',
       'Rostov Institute of National Economy', 'CW Post College',
       'European University', 'National Chiao Tung University',
       'University of Queensland', 'Arai High School', 'Patna University',
       'Madison', 'University of Mysore', 'marketing/management',
       'Nanjing University of Chinese Medicine',
       'La Sapienza University of Rome',
       'University of Chicago Booth School of Business',
       'China Agricultural University',
       'Alma-Ata Institute of National Economy',
       'Universidade Federal de Minas Gerais',
       'Massachusetts Institue of Technology',
       'National Chung Hsing University', 'Radford', 'Kyoto University',
       'Carleton College', 'Anderson School of Management',
       'Utah State University',
       'ArizonaCitizenshipUnited StatesMarital StatusMarriedChildren2',
       'Santa Rosa Junior College',
       'ChinaCitizenshipChinaMarital StatusMarriedChildren2',
       'Leningrad Technological Institute of Pulp and Paper Industry',
       'Universite de Sherbrooke', 'University of Bologna',
       'Saddleback College', 'Kiev Polytechnic Institute',
       'Washington University in St. Louis', 'Madras Christian College',
       'Tuck School of Business', 'Satka Mining and Ceramics College',
       'Southern Illinois University', 'University of Tartu',
       'Osmania University', 'Montan University', "St. John's University",
       'Tongji University',
       'Beijing University of Science and Technology',
       'Chinese University of Hong Kong', 'Bombay',
       'Kuibyshev Planning Institute', 'Wenzhou Normal College',
       'Tel Aviv University', 'Faculdade Dom Pedro II',
       'Baroda University', 'Andhra University', 'Berkeley)', 'Kazan',
       'Samuel Curtis Johnson Graduate School of Management',
       'Stetson University', 'China University of Technology',
       'ChinaCitizenshipChina', 'Jerusalem',
       'Universidad Complutense de Madrid',
       'Institute of Chartered Accountants of India',
       'Tunghai University', 'KTH Royal Institute of Technology',
       'Mumbai University', 'Tianjin University',
       'Zhejiang University of Technology', 'San Francisco State',
       'Kazan Institute of Civil Engineering',
       'Western State College of Colorado',
       'Academy of Civil Aviation (Leningrad)',
       'Tyumen Industrial Institute', 'Université de Paris VI',
       'Indian Institute of Technology Delhi',
       'Moscow International University of Business and Information Technologies',
       'Higher School of Privatization and Business',
       'Korea Advanced Institute of Science and Technology',
       'McMaster University', 'Aston University',
       'Universidade do Brasil', 'University of Buckingham',
       'Tomsk State University', 'University of Twente',
       'Harvard Law School',
       'University for Applied Sciences in Konstanz',
       'Ecole Polytechnique de Lausanne', 'Polytechnic Institute',
       'Chongqing Universtiy', 'Kazan State Technical University',
       'Beijing University', 'University of Verona',
       'The University of Cambridge',
       'Beijing Foreign Studies University',

In [52]:
# Filling these index values with 'University of California'
internal_data.loc[[189, 235, 661, 708, 711, 754, 1348, 2351, 1576, 170, 58, 443, 662, 1697, 2174, 2293, 2325, 2342, 2601, 2028], 'College/University'] = 'University of California'

In [53]:
# Filling these index with 'Indian Institute of Technology'
internal_data.loc[[234, 1960], 'College/University'] = 'Indian Institute of Technology'

In [54]:
internal_data.loc[[1215, 193, 2032, 91, 613, 1368, 1798, 1805, 266, 1529, 1620, 1693, 2052, 357, 389, 479, 2044, 2143], 'College/University'] = [
 'Anna University', 'University of Texas', 'Moscow Power Engineering Institute', 'University of Wisconsin',
 'State Institute of Theatre Arts', 'Moscow Institute of Radioengineering', 'University of Wisconsin',
 'Stockholm University', 'Czech Technical University', 'University of North California',
 'Rheinisch-Westfälische Technische Hochschule', 'Erasmus University Rotterdam', 'Hebrew University',
 'Sir John Cass College', 'University of Technology', 'University College London', 'Europe International Business School',
 'Indian Institute of Technology (IIT) Kharagpur']

In [55]:
internal_data.loc[[1133, 1170, 1372], 'College/University'] = 'Indian Institute of Management'

In [56]:
internal_data.loc[[1132, 1139], 'College/University'] = 'American University of Beirut'

In [57]:
# Replaceing Dirty Data with NaN
internal_data.loc[[130, 976, 994, 1126, 1855, 1858, 2144, 2501], 'College/University'] = np.nan

In [58]:
internal_data['College/University'].unique()

array(['University of Pennsylvania', 'Ecole Polytechnique de Paris',
       'Princeton University', 'University of Chicago',
       'Harvard University', 'Columbia University',
       'Universidad Nacional Autonoma de Mexico', 'Stanford University',
       'Harvard Business School', nan, 'University of Arkansas',
       'Trinity University', 'The University of Texas at Austin',
       'Massachusetts Institute of Technology',
       'University of Central Arkansas', 'University of Cambridge',
       'Nankai University', 'Stanford Graduate School of Business',
       'Bryn Mawr College', 'The Hotchkiss School',
       'Oregon State University', 'High School', 'Waseda University',
       'Hebrew University Jerusalem', 'Shenzhen University',
       'Chinese Academy of Social Sciences',
       'University of Electronic Science and Technology of China',
       'SUNY Binghamton', 'Pune University', 'New York University',
       'Technical University of Karlsruhe', 'University of California',
       'PSG College of Technology',
       'International Institute for Management and Development',
       'University of Wisconsin Madison',
       'Plekhanov Russian University of Economics',
       "Hangzhou Teacher's Institute",
       'Moscow Institute of International Relations',
       'Vanderbilt University', 'Colorado College',
       'Russian Academy of Economics',
       'Kuybyshev Engineering and Construction Institute',
       'Leningrad Institute of Economics',
       'Azerbaijan Institute of Oil and Chemistry',
       'Michigan State University',
       'Beijing Non-Ferrous Research Institute',
       'University of Western Australia', 'University of Stockholm',
       'Leningrad Mechanical Institute', 'University of Wisconsin',
       'David A. Tepper School of Business', 'Yanshan University',
       'The Wharton School', 'University of Washington',
       'Calcutta University', 'Oxford University',
       "St Xavier's College Calcutta", 'London School of Economics',
       'University of Leeds',
       'University of Science and Technology of China',
       'Columbia Business School', 'London Business School',
       'Hefei University of Technology', 'Rijnlands Lyceum Wassenaar',
       'Finance Academy under the Government of the Russian Federation',
       'San Jose State University', 'A. B. Freeman School of Business',
       'University of Mumbai', 'Sr. College of Business',
       'Moscow Institute of Steel and Alloys', 'Hebei Province',
       'Cornell University', 'University of Piacenza', 'Urbana-Champaign',
       'Delhi University', 'Saint Petersburg State University',
       'University of New South Wales', 'Villanova University',
       'Moscow Aviation University', 'Moscow Institute of Finance',
       'Raffles College', 'Syracuse University',
       'Georgia Southern University', 'Samford University',
       'Chulalongkorn University', 'University of Kansas',
       'China Pharmaceutical University', 'Hunan University',
       'Monash University', 'Purdue University', 'Qingdao University',
       'Dagestan State University', 'Al-Azhar University',
       'University at Buffalo', 'University of Augsburg',
       'Rhode Island School of Design', 'Universite Paris X Nanterre',
       'University of British Columbia',
       'Magnitogorsk Mining\xa0and Metallurgical Institute',
       'Gothenburg University', "St. John's University (MN)",
       'Peking University', 'Universidade Federal do Rio de Janeiro',
       'Huazhong University of Science and Technology', 'Middle Temple',
       'University of Texas', 'Concordia University', 'Dartmouth College',
       'Duke University', 'Vassar College',
       'Saint Petersburg Mining University', 'Sichuan University',
       'Babson College', 'Masaryk University', 'Wuhan University',
       'North Carolina State University', 'Carnegie Mellon University',
       'Johns Hopkins University', 'University of Karlsruhe',
       'Tsinghua University', 'Northwestern University',
       'Moscow State Law Academy', 'Lincoln University',
       'Guilin Medical University', 'University of Hamburg',
       'California State Polytechnical University', 'Keio University',
       'Baylor University', 'State University of Management',
       'Indian Institute of Technology',
       'Ecole Superieure Libre Des Sciences Commerciales Appliquees',
       'Marshall School of Business', 'University of Memphis',
       'Sciences Po', 'Claremont McKenna College', 'Rutgers University',
       'Tufts University', 'Williams College',
       'Northwestern Polytechnical University', 'University of Denver',
       'Texas Tech University', 'Drury University',
       'Oxford U Christ Church', 'National Taiwan University',
       'Hahnemann Medical College', 'University of Akron',
       'Czech Technical University', 'University of Southern California',
       'Liaoning University', 'Military Academy F.E.Dzerzhinsky',
       'State Central Institute of Physical Culture',
       'Colgate University', 'Renmin University of China',
       'Hebei Broadcast and Television University', 'Brown University',
       'Yale University', 'Politecnico di Milano',
       'University of Ferrara', 'Kings College London',
       'Leonard N. Stern School of Business', 'University of Virginia',
       'University of Northern Colorado', 'Nanjing Normal University',
       'City University of New York City College', 'Dickinson College',
       'American University', 'Technische Universität Darmstadt',
       'Tatung University', 'University of Missouri',
       'Tashkent State University', 'Central South University',
       'Taipei University of Marine Technology',
       'National Taipei University of Technology',
       'Jiangsu Normal University', 'Cambridge University',
       'Vologda State Pedagogical University', 'University of Miami',
       'Wofford College', 'University of Maryland',
       'National University of Colombia', 'Rice University',
       'Sir John Cass College', 'University of Houston',
       'Houston Community College', 'Aarhus Business School',
       'Moscow State University of Railway Engineering',
       'Moscow State University', 'Northeastern University',
       'Pennsylvania State University', 'University of West Bohemia',
       'University of Technology', 'Humboldt State University',
       'Grenoble University',
       'China Europe International Business School', 'Xiamen University',
       'Santa Clara University', 'Bucknell University',
       'Fudan University', 'University of Tennessee Chattanooga',
       'University of Witwatersrand', 'Bowdoin College',
       'Salisbury State University', 'Perm Medical Institute',
       'Southern Methodist University', 'Auburn University',
       'Instituto Tecnológico Autónomo de México',
       'University of Gothenburg', "People's University of China",
       'Ohio State University', 'Central Missouri State University',
       'Moscow Institute of Physics and Technology', 'Kalamazoo College',
       'Gujarat University', 'South China University of Technology',
       'Free University of Amsterdam', 'Donetsk National University',
       'Georgetown University', 'University of Florence',
       'University of Milan', 'University of Calgary',
       'Seoul National University', 'University College London',
       'Sarah Lawrence college', 'Finch College', 'Bard College',
       'INSEAD', 'Miami University of Ohio', 'Konkuk University',
       'College of William & Mary', 'Pepperdine University',
       'Creighton University', 'Golden Gate University',
       'National Cheng Kung University', 'Franklin Pierce University',
       'Stockholm School of Economics', 'SUNY Tech Alfred',
       'Fanshawe College', 'Simon School of Business',
       'Heidelberg University', 'Sogang University', 'Indiana University',
       'University of Texas at Austin',
       'Nanjing University of Aeronautics & Astronautics',
       'Novosibirsk State University', 'University of Indonesia',
       'Bocconi University', 'St Gallen University', 'Columbia College',
       'University of Waterloo', 'Connecticut College',
       'University of Texas Arlington', 'Bogazici University',
       'MIT Sloan School of Management', 'Technical College in Flensburg',
       'Amherst College',
       'The Wharton School of the University of Pennsylvania',
       'Xihua University', 'University of Arizona',
       'University of Tennessee Knoxville', 'College of the Holy Cross',
       'College Park', 'Middlebury College', 'Brevard Community College',
       'Beloit College', 'San Diego State University',
       'Zhejiang University', 'Punjab University',
       'State Institute of Theatre Arts', 'Fordham University',
       'Miami Dade College', 'Brandeis University', 'Goucher College',
       'University of Alberta', 'Georgia Institute of Technology',
       'Hanyang University', 'John Carroll University',
       'Ural Polytechnic Institute',
       'Moscow Institute for Transport Engineering',
       'Hong Kong University of Science and Technology',
       'Fundacao Getulio Vargas', 'Chinese Culture University',
       'Savannah College of Art and Design',
       'Phoenix International University', 'University of Michigan',
       'Beijing University of Aeronautics and Astronautics',
       'Washington & Lee University', 'Boston University',
       'University of Utah', 'SUNY Buffalo', 'Zhejiang Shuren University',
       'Jilin University', 'Drexel University',
       'Ludwig Maxmilian University', 'California State Los Angeles',
       'Nanjing University', 'California State Long Beach',
       'Stockholm University', 'Yerevan Polytechnic Institute',
       'Ecole Centrale Paris', 'Baku Institute of Law',
       'Huadong Normal University',
       'University of Economics in Bratislava (UEB)',
       'Henan Normal University',
       'Catholic University of the Sacred Heart', 'Bocconi Univerisity',
       'Montana State University', 'Universidad Iberoamericana',
       'Nihon University', 'Kansai University',
       'University of Santa Clara', 'University of Oklahoma',
       'Letourneau College', 'Brooklyn Law School',
       'St. Louis University', 'Northern Michigan University',
       'Lehigh University', 'Yonsei University',
       'Università Cà Foscari di Venezia', 'Shanghai Jiaotong University',
       'Pace University', 'Harvard', 'University of New Orleans',
       'Imperial College London', 'Toho Gakuen tanki University',
       'Moscow State Technical University', 'York University',
       'Kazakh Technological Institute', 'Brooklyn College',
       'City College of New York',
       'Leningrad Institute of Physical Culture', 'IMD',
       'Queens University', 'University of Baltimore',
       'Long Island University',
       'China University of Mining and Technology',
       'Far Eastern University', 'Korea University',
       'East Carolina University',
       'Jiangxi University of Finance & Economics',
       'Wichita State University', 'Hebei Medical University',
       'Asia Macau International Open University',
       'Swiss Federal Polytechnical Institute',
       'Parsons School of Design', 'Loyola University Chicago',
       'Oklahoma State University', 'Ekaterinburg Institute of Economics',
       'Zhongnan University of Economics and Law',
       'University of Massachusetts', 'Kuban State University',
       'Brigham Young University', 'University of London',
       'Wake Forest University School of Business',
       'Pepperdine Caruso School of Law', 'Shanghai Jiao Tong University',
       'Tennessee Technological University',
       'Bandung Institute of Technology',
       'Togliatti Academy of Management', 'Notre Dame University',
       'University of Florida', 'New York Law School',
       'Ural State Technical University',
       'Universidad Comercial de Deusto',
       'The University of Western Ontario - Richard Ivey School of Business',
       'University of Munich', 'Reed College', 'Temple University',
       'Illinois Institute of Technology', 'University of Glasgow',
       'The National Research University Higher School of Economics',
       'University of North Carolina at Greensboro', 'Laval University',
       'University of Manitoba', 'Catholic University of America',
       'Northeast Agriculture University', 'Wuhan U of  Science & Tec',
       'Ecole centrale de Paris', 'University of Liverpool',
       'University of Nevada at Reno', 'IESE Business School',
       'George Washington University', 'Hamilton College',
       'SUNY Stony Brook', 'University of Western Ontario',
       'Carroll School of Management', "Xi'an Jiaotong University",
       'Shaoxing University', 'Minnesota State University',
       'American University of Beirut', 'Indian Institute of Management',
       'West Virginia University', 'San Francisco State University',
       'University of Central Oklahoma', 'Adelphi University',
       'Beijing Institute of Technology', 'Kellogg School of Management',
       "LeTourneau University's School of Business",
       'SDA Bocconi School of Management', 'University of Colorado',
       'Russian State Academy of Management', 'Lake Forest College',
       'Anna University', 'University of North Carolina',
       'University of Saskatchewan', 'Boston College',
       'St Petersburg State University', 'University of St. Gallen',
       'Western Michigan University', 'Tennessee State University',
       'University of Scranton', 'Sun Yat-sen University',
       'Carnegie Mellon', 'De La Salle University', 'McGill University',
       'Menlo College', 'Emory University',
       'Huazhong Agricultural University', 'University of the East',
       'Joseph M. Katz Graduate School of Business', 'Lund University',
       'Bangalore University', 'University of Madras',
       'Harbin Engineering University',
       'Lawrence Technological University', 'Marquette University',
       'University of Rhode Island',
       'Istituto Superiore di Industrie Artistiche',
       'University of Zurich', 'Ohio Northern University',
       'Guangdong Medical College',
       'Moscow Institute of Radioengineering',
       'University of Southern Mississippi', 'University of Saarland',
       'University of Toronto',
       'Polytechnic School of the University of Sao Paulo',
       'Irkutsk State University', 'Seton Hall University',
       'City University of New York Baruch', 'Assumption College',
       'Chapman University',
       'Indian Institute of Technology Madras (IIT Madras)',
       'San Francisco Conservatory of Music',
       'Embry-Riddle Aeronautical University',
       'Shanghai University of Finance and Economics', 'Clark University',
       'Telecommunications and Computer Science (FSB Academy)',
       'Moscow State Mining University',
       'Moscow Institute of Electronic Technology',
       'Manhattanville College', 'Leningrad Technological Institute',
       'Turkmen State University',
       'Dniepropetrovsk Metallurgical Institute',
       'Trinity University of San Antonio', 'University of St Gallen',
       'University of Oregon', 'Eastern Kentucky University',
       'California State University Northridge', 'University of Malaya',
       'University of Detroit Mercy', 'Nottingham University',
       'University of Minnesota', 'University of Poznan',
       'University of Notre Dame', 'St. John Fisher College',
       'Fu Jen Catholic University', 'University of North California',
       'Loyola University Illinois', 'Ashland University',
       'Southern Oregon University', 'University of Bucharest',
       'Maryknoll College', 'University of South Australia',
       'The Wharton School at the University of Pennsylvania',
       'Birla Institute of Technology and Science (BITS) - Pilani',
       'Fuqua School of Business',
       'Jiangsu Province Wujin Teacher School', 'California State Chico',
       'Pontificia Universidad de Chile', 'Haverford College',
       'National Taitung University', 'The University of Chicago',
       'Rheinisch-Westfälische Technische Hochschule',
       'The College of William & Mary', 'Ibero-American University',
       'Skidmore College', 'SUNY Albany', 'University of Erlangen',
       'Long Beach', 'University of Paris', 'Rider University',
       'Rochester Institute of Technology', 'University of Melbourne',
       'University of Wales', 'University of Rochester',
       'National Central University', 'Stanford', 'University of Ottawa',
       'University of Nebraska Lincoln', 'Florida Southern College',
       'Macau University', 'Erasmus University Rotterdam',
       'Texas A&M University', 'Politecnico di Torino',
       'Mendeleyev Chemical Engin', 'IIT Delhi',
       'California Institute of Technology',
       'Leningrad Institute of Railway Engineers',
       'Rostov Institute of National Economy', 'CW Post College',
       'European University', 'National Chiao Tung University',
       'University of Queensland', 'Arai High School', 'Patna University',
       'University of Mysore', 'Nanjing University of Chinese Medicine',
       'La Sapienza University of Rome',
       'University of Chicago Booth School of Business',
       'China Agricultural University',
       'Alma-Ata Institute of National Economy',
       'Universidade Federal de Minas Gerais',
       'Massachusetts Institue of Technology',
       'National Chung Hsing University', 'Radford', 'Kyoto University',
       'Carleton College', 'Anderson School of Management',
       'Utah State University', 'Santa Rosa Junior College',
       'Leningrad Technological Institute of Pulp and Paper Industry',
       'Universite de Sherbrooke', 'University of Bologna',
       'Saddleback College', 'Kiev Polytechnic Institute',
       'Washington University in St. Louis', 'Madras Christian College',
       'Tuck School of Business', 'Satka Mining and Ceramics College',
       'Southern Illinois University', 'University of Tartu',
       'Osmania University', 'Montan University', "St. John's University",
       'Tongji University',
       'Beijing University of Science and Technology',
       'Chinese University of Hong Kong', 'Kuibyshev Planning Institute',
       'Wenzhou Normal College', 'Tel Aviv University',
       'Faculdade Dom Pedro II', 'Baroda University', 'Andhra University',
       'Moscow Power Engineering Institute',
       'Samuel Curtis Johnson Graduate School of Management',
       'Stetson University', 'China University of Technology',
       'Europe International Business School', 'Hebrew University',
       'Universidad Complutense de Madrid',
       'Institute of Chartered Accountants of India',
       'Tunghai University', 'KTH Royal Institute of Technology',
       'Mumbai University', 'Tianjin University',
       'Zhejiang University of Technology', 'San Francisco State',
       'Kazan Institute of Civil Engineering',
       'Western State College of Colorado',
       'Academy of Civil Aviation (Leningrad)',
       'Tyumen Industrial Institute', 'Université de Paris VI',
       'Indian Institute of Technology Delhi',
       'Moscow International University of Business and Information Technologies',
       'Higher School of Privatization and Business',
       'Korea Advanced Institute of Science and Technology',
       'McMaster University',
       'Indian Institute of Technology (IIT) Kharagpur',
       'Aston University', 'Universidade do Brasil',
       'University of Buckingham', 'Tomsk State University',
       'University of Twente', 'Harvard Law School',
       'University for Applied Sciences in Konstanz',
       'Ecole Polytechnique de Lausanne', 'Polytechnic Institute',
       'Chongqing Universtiy', 'Kazan State Technical University',
       'Beijing University', 'University of Verona',
       'The University of Cambridge',
       'Beijing Foreign Studies University',
       'University of Science and Technology Beijing',

In [59]:
internal_data.reset_index(inplace=True)
internal_data.drop(columns=['index'], inplace=True)

### Cleaning Wealth History Column

In [60]:
# Creating Seperate Column by Year name that will have the worth value if available in wealth history column else NaN

In [61]:
def get_worth(year):
    l = []
    for i in internal_data['Wealth_History']:
        if type(i) == float:
            l.append({np.nan})
        if type(i) != float:
            s = {np.nan}
            for j in i:
                if year in j[0]:
                    s.add(j[1])
                else:
                    s.add(np.nan)
            l.append(s)   
        
    return l

In [62]:
def fetch_worth(year):
    worth_value = []
    for i in internal_data[year]:
        found = False
        for element in i:
            if isinstance(element, str):
                worth_value.append(element)
                found = True
        if not found:
            worth_value.append(np.nan)
            
    return worth_value

#### Creating Year 2014

In [63]:
internal_data['2014'] = get_worth('2014')
internal_data['2014'] = fetch_worth('2014')

#### Creating Year 2015

In [64]:
internal_data['2015'] = get_worth('2015')
internal_data['2015'] = fetch_worth('2015')

#### Creating Year 2016

In [65]:
internal_data['2016'] = get_worth('2016')
internal_data['2016'] = fetch_worth('2016')

#### Creating Year 2017

In [66]:
internal_data['2017'] = get_worth('2017')
internal_data['2017'] = fetch_worth('2017')

#### Creating Year 2018

In [67]:
internal_data['2018'] = get_worth('2018')
internal_data['2018'] = fetch_worth('2018')

#### Creating Year 2019

In [68]:
internal_data['2019'] = get_worth('2019')
internal_data['2019'] = fetch_worth('2019')

#### Creating Year 2020

In [69]:
internal_data['2020'] = get_worth('2020')
internal_data['2020'] = fetch_worth('2020')

#### Creating Year 2021

In [70]:
internal_data['2021'] = get_worth('2021')
internal_data['2021'] = fetch_worth('2021')

#### Creating Year 2022

In [71]:
internal_data['2022'] = get_worth('2022')
internal_data['2022'] = fetch_worth('2022')

#### Creating Year 2023

In [72]:
internal_data['2023'] = get_worth('2023')
internal_data['2023'] = fetch_worth('2023')

In [73]:
internal_data

,name,Wealth_History,personal_data,Citizenship,Marital Status,Education,College/University,Empire,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Elon Musk,"[(2014, 8.4B), (2015, 12B), (2016, 10.7B), (20...","Age52Source of WealthTesla, SpaceX, Self MadeS...",United States,Single,Bachelor of Arts/Science,University of Pennsylvania,Self Made,8.4B,12B,10.7B,13.9B,19.9B,22.3B,24.6B,151B,219B,180B
1,Bernard Arnault,"[(2014, 33.5B), (2015, 37.2B), (2016, 34B), (2...","Age74Source of WealthLVMHResidenceParis, Franc...",France,Married,Bachelor of Arts/Science,Ecole Polytechnique de Paris,NaN,33.5B,37.2B,34B,41.5B,72B,76B,76B,150B,158B,211B
2,Jeff Bezos,"[(2014, 32B), (2015, 34.8B), (2016, 45.2B), (2...","Age59Source of WealthAmazon, Self MadeSelf-Mad...",United States,Engaged,Bachelor of Arts/Science,Princeton University,Self Made,32B,34.8B,45.2B,72.8B,112B,131B,113B,177B,171B,114B
3,Larry Ellison,"[(2014, 48B), (2015, 54.3B), (2016, 43.6B), (2...","Age78Source of WealthOracle, Self MadeSelf-Mad...",United States,In Relationship,Drop Out,University of Chicago,Self Made,48B,54.3B,43.6B,52.2B,58.5B,62.5B,59B,93B,106B,107B
4,Bill Gates,"[(2014, 76B), (2015, 79.2B), (2016, 75B), (201...","Age67Source of WealthMicrosoft, Self MadeSelf-...",United States,Divorced,Drop Out,Harvard University,Self Made,76B,79.2B,75B,86B,90B,96.5B,98B,124B,129B,104B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2601,Chang Jing,"[(2021, 2.5B), (2022, 1.3B), (2023, 1.1B)]","Age40Source of WealthTechnology, Self MadeResi...",China,NaN,NaN,NaN,Self Made,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5B,1.3B,1.1B
2602,Vijay Shekhar Sharma,"[(2017, 1.3B), (2018, 1.7B), (2019, 2.6B), (20...","Age45Source of Wealthfinancial technology, Sel...",India,Married,Bachelor of Science in Engineering,Delhi University,Self Made,NaN,NaN,NaN,1.3B,1.7B,2.6B,2.4B,2.3B,1.2B,NaN
2603,Kanye West,"[(2021, 1.8B), (2022, 2B)]","Age46Source of Wealthmusic, sneakers, Self Mad...",United States,Divorced,Drop Out,Chicago State University,Self Made,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8B,2B,NaN
2604,Sam Bankman-Fried,"[(2021, 8.7B), (2022, 24B)]","Age31Source of Wealthcryptocurrency exchange, ...",United States,NaN,Bachelor of Arts/Science,Massachusetts Institute of Technology,Self Made,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7B,24B,NaN
2605,Elizabeth Holmes,"[(2015, 4.5B), (2016, 3.6B)]","Age39Source of Wealthblood testing, Self MadeS...",United States,Married,Drop Out,Stanford University,Self Made,NaN,4.5B,3.6B,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
internal_data.drop(columns=['Wealth_History', 'personal_data'], inplace=True)

In [75]:
# Convert 2015, and 2015 values in billion
internal_data[internal_data['2015'].str.contains('M', na=False)]

,name,Citizenship,Marital Status,Education,College/University,Empire,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
2563,Arash Ferdowsi,United States,Single,Drop Out,Massachusetts Institute of Technology,Self Made,NaN,500M,400M,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
internal_data.loc[2563, '2015'] = '0.5B'

In [77]:
internal_data.loc[2563, '2016']= '0.4B'

### Replacing 'B','' and converting type to float

In [78]:
internal_data['2014'] = internal_data['2014'].str.replace('B','').str.strip().astype(float)
internal_data['2015'] = internal_data['2015'].str.replace('B','').str.strip().astype(float)
internal_data['2016'] = internal_data['2016'].str.replace('B','').str.strip().astype(float)
internal_data['2017'] = internal_data['2017'].str.replace('B','').str.strip().astype(float)
internal_data['2018'] = internal_data['2018'].str.replace('B','').str.strip().astype(float)
internal_data['2019'] = internal_data['2019'].str.replace('B','').str.strip().astype(float)
internal_data['2020'] = internal_data['2020'].str.replace('B','').str.strip().astype(float)
internal_data['2021'] = internal_data['2021'].str.replace('B','').str.strip().astype(float)
internal_data['2022'] = internal_data['2022'].str.replace('B','').str.strip().astype(float)
internal_data['2023'] = internal_data['2023'].str.replace('B','').str.strip().astype(float)

In [79]:
internal_data.to_csv('billionaires_personal_data.csv', encoding='utf-8')